#root {
  margin: 0 auto;
  text-align: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.site--wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  justify-content: center;
  background-color: #242424;
}

main {
  display: flex;
  flex-direction: column;

  background-color: grey;
  background-image: url(./assets/BackgroundImg.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/******************************NAVBAR***********************************/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 10px;
}

.img--Logo {
  max-height: 70px;
  background-blend-mode: color-burn;
  border: 3px solid white;
  background-color: white;
}

.nav--leftside {
  display: flex;
  flex-direction: row;
}

.nav--rightside {
  display: flex;
  flex-direction: row;
}

.nav--elements {
  text-decoration: none;
  color: white;
  margin: 0 10px 0 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}


.nav--elements:hover {
  font-weight: bolder;
}

.BackButton{
  text-decoration: none;
  color: white;
}

.BackButton:hover{
  font-weight: bold;
}

/******************************HOME***********************************/

.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.img--Kutyáknak {
  max-width: 600px;
  transition: all 0.1s ease-in-out;
  margin: 30px;
  border: yellow 3px solid;
}

.img--Kutyáknak:hover {
  scale: 1.1;
  padding: 5px;
}

/******************************KUTYAKNAK***********************************/

.Kutyaknak {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LinksContainer {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1em 0;
  float: left;
  width: 50%;
}

@media screen and (max-width: 640px) {
  .container {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 33.33333%;
  }
}

.container {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}


/******************************Hámok***********************************/

.ElementContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Hámok--Container {
  display: flex;
  flex-direction: column;
}


/******************************ProductsDetails***********************************/

.ProductsDetails--Main{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.ProductsDetails--LeftSide{
  width: 50%;
}

.ProductsDetails--RightSide{
  width: 50%;
  margin-top: 60px;
  font-size: 1.2em;
  background-color: #C4C4C4;
  color: black;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.ProductsDetails--image{
  max-width: 300px;
}