#root {
  margin: 0 auto;
  text-align: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.site--wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  justify-content: center;
  background-color: #242424;
}

main {
  display: flex;
  flex-direction: column;

  background-color: grey;
  background-image: url(../public/images/BackgroundImg.jpg);
  background-blend-mode: darken;
  background-repeat: repeat;
  min-height: 100vh;
}

/******************************NAVBAR***********************************/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px 0 15px;
}

.img--Logo {
  max-height: 70px;
  background-blend-mode: color-burn;
  background-color: transparent;
}

.nav--leftside {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.nav--rightside {
  display: flex;
  flex-direction: row;
}

.menu-icon {
  display: none;
}

.nav-elements {
  z-index: 1;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav-elements ul a:hover {
  font-weight: 500;
}

.nav-elements ul a.active {
  color: white;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #242424;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

.nav-elements--Icon {
  font-size: 1.5em;
}

.nav-elements--Icon {
  cursor: pointer;
  font-style: italic;
}

/******************************HOME***********************************/

.Home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.img--Kutyáknak {
  width: 50%;
  transition: all 0.1s ease-in-out;
  margin: 30px;
  border: black 3px solid;
}

.img--Kutyáknak:hover {
  scale: 1.1;
  padding: 5px;
}

/******************************KUTYAKNAK***********************************/

.Kutyaknak {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Kutyaknak--LinksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.container {
  padding: 1em 0;
  float: left;
  width: 50%;
}

@media screen and (max-width: 640px) {
  .container {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 33.33333%;
  }
}

.container {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}


/******************************Hámok/Nyakörek/Pórázok***********************************/

.ElementContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.Hámok--Container {
  display: flex;
  flex-direction: column;
}

.LinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}


@media screen and (max-width: 640px) {
  .container2 {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .container2 {
    width: 33.33333%;
  }
}

.container2 {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content2 {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content2 .content-overlay2 {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content2:hover .content-overlay2 {
  opacity: 1;
}

.content-image2 {
  width: 100%;
}

.content-details2 {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content2:hover .content-details2 {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details2 h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details2 p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn2-bottom2 {
  top: 80%;
}

.fadeIn2-top {
  top: 20%;
}

.fadeIn2-left {
  left: 20%;
}

.fadeIn2-right {
  left: 80%;
}


/******************************ProductsDetails***********************************/

.ProductsDetails--Main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 50px 50px 50px;
}

.ProductsDetails--LeftSide {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.ProductsDetails--RightSide {
  width: auto;
  max-width: 700px;
  margin: auto;
  font-size: 1.2em;
  background-color: #C4C4C4;
  color: black;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.ProductsDetails--RightSideAddButton{
  background-color: transparent;
  transition: 0.3s;
  height: 50px;
  border-radius: 5px;
  width: 15%;
  font-weight: bold;
}

.ProductsDetails--RightSideAddButton:hover{
  background-color: #3f3f3f;
  cursor: pointer;
}

.ProductsDetails--image {
  width: 80%;
  margin: 20px 0 20px 0;
  border: 3px black solid;
}

.AddedAlertContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
  z-index: 2;
  background-color: #242424;
  font-weight: bold;
  transition: 0.5s;
}

.AddedAlert {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 500px;
  height: 300px;
}

select{
  border-radius: 5px;
  height: 50px;
  width: 50%;
}


/******************************CART***********************************/

.shoppingCart--CloseDiv {
  display: flex;
  justify-content: flex-end;
}

.shoppingCart--CloseButton {
  margin: 10px 30px 0 0;
}

.shoppingCart--CloseButton:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #00000055;
  z-index: 10;
  color: black;
}

.shoppingCart {
  width: 60%;
  margin: 2rem auto;
  background-color: #eee;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 3px solid black;
  background-color: #C4C4C4;
}

.shoppingCart--products {
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}

.shoppingCart--product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
}

.shoppingCart--product div {
  display: flex;
  justify-content: center;
  margin: 0 3px 0 3px;
}

.cart--imgContainer{
  width: 200px;
}

.cart--img {
  max-width: 150px;
  border: 3px black solid;
  border-radius: 3px;
}

.shoppingCart--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  margin: 5px 0 5px 0;
  align-items: center;
}

.shoppingCart--color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.shoppingCart--buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
}

.shoppingCart--Amountbuttons div {
  background-color: transparent;
  font-size: 1.8em;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  transition: 0.3s;
}

.shoppingCart--Amountbuttons div:hover {
  cursor: pointer;
  background-color: #3f3f3f;
}

.shoppingCart--buttons button {
  margin: 5px;
}

.shoppingCart--Deletebutton {
  font-size: 1.8em;
}

.shoppingCart--Deletebutton:hover {
  cursor: pointer;
}

.shoppingCart--price{
  width: 100px;
}

.shoppingCart--TotalPrice {
  display: flex;
  flex-direction: column;
  border-top: 3px solid black;
  justify-content: center;
  align-items: center;
}

.shoppingCart--PayButton {
  width: 20%;
  background-color: transparent;
  border-radius: 5px;
  height: 50px;
  transition: 0.3s;
  font-weight: bold;
}

.shoppingCart--PayButton:hover {
  cursor: pointer;
  background-color: #3f3f3f;
}

/******************************FOOTER***********************************/

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-weight: bold;
}
